:root{
    --mainColor: #eaeaea;
    --secondaryColor: #fff;

    --borderColor: #c1c1c1;

    --mainText: black;
    --secondaryText: #4b5156;

    --borderTheme: #24292e;
    --previewBg: rgb(251, 249, 243, 0.8);
    --previewShadow:  rgba(255,255,189,1);
    --linkColor: #17a2b8;
    --buttonColor:black;
}



html, body{
  padding: 0;  
  margin: 0; 
  transition: 1s; 
}

h1,h2,h3,h4,h5,h6,strong{
    color: var(--mainText);
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
}

p,span,li,label,input,textarea{
    color: var(--secondaryText);
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration:none;
    color: #17a2b8
}

ul{
    list-style:none;
}

h1{font-size:56px;}
h2{font-size:36px;}
h3{font-size:28px;}
h4{font-size:25px}

.s1{
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
}

.s2{
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
}

.main-container{
    width: 1200px;
    margin: 0 auto;
}
.greeting-wrapper{
    display:grid;
    text-align: center;
    align-content: center;
    min-height: 10em;
}

.intro-wrapper{
    display:grid;
    text-align:center;
    border: 1px solid var(--borderColor);
    border-radius: 5px;;

    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 3em 30em; */

    grid-template-areas:
    "nav-wrapper nav-wrapper"
    "left-column right-column"

    
}

.nav-wrapper{
    grid-area:nav-wrapper;
    background-color: var(--mainColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px;
    height:3em;

}

.links-wrapper a{
    color:var(--linkColor);
    margin-right:8px;
}

.links-wrapper span{
    color:green;
}

.left-column{
    grid-area:left-column;
    /* border:1px solid green; */
}

#profile{
    display:block;
    margin:40px auto;
    width:200px;
    height:200px;
    object-fit: cover;
    border: 1px solid var(--borderColor);

}


.right-column{
    grid-area:right-column;
    display:grid;
    align-content: center;
    justify-content:center;
    

}

.nav-wrapper{
    display:flex;
    align-items:center;
    justify-content:space-between
}

.dots-wrapper{
    display:flex;
}

.browser-dot{
    width:15px;
    height:15px;
    border-radius: 50%;
    margin:5px
}

#dot1{
    background-color:#f00;
}

#dot2{
    background-color:#0f0;
}

#dot3{
    background-color:#00f;
}

.theme-options-wrapper{
    display:flex;
    justify-content:center;
}



.themes{
    width: 30px;
    height:30px;
    background-color:black;
    border: 2px solid var(--borderTheme);
    border-radius: 50%;
    margin: 10px 5px;
    cursor:pointer;
}

.themes:hover{
    border-width: 5px;
}



#light{
    background-color: #fff;
}


#blue{
    background-color:blue;
}


#green{
    background-color: green;
}


#purple{
    background-color:purple;
}

#setting-note{
    margin-top:10px;
    margin-bottom:50px;
    align-text:center;
}

.preview{
    width:300px;
    margin: auto;
    border:1.5px solid #17a2b8;
    background-color: var(--previewBg);
    position: relative;

    margin-top:80px;
    margin-bottom:50px;

    -webkit-box-shadow: -30px -30px 0px 8px rgba(255,255,189,1);
-moz-box-shadow: -30px -30px 0px 8px rgba(255,255,189,1);
box-shadow: -30px -30px 0px 8px rgba(255,255,189,1);
 
}

.corner-for-box{
    width:5px;
    height:5px;
    background-color:#fff;
    border:2.5px solid #17a2b8;
    border-radius:50%;
    position:absolute;
}

#corner-tl{
    top:-5px;
    left:-5px;
}

#corner-tr{
    top:-5px;
    right:-5px;
}

#corner-bl{
    bottom:-5px;
    left:-5px;
}

#corner-br{
    bottom:-5px;
    right:-5px;
}

/* .preview-shadow{
    width:300px;
    background-color:green;

    padding-left: 30px;
    padding-top:30px;
}
             */


.about-wrapper{
    display:grid;
    /* no need to add media query with minmax */
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap:70px;
    padding-top:50px;
    padding-bottom:50px;
}

.about-me h3{
    margin-top:0;
}

/* copied from codepen for hr designs */

hr {
    border: none;
    height: 10px;
    background: linear-gradient(-135deg, #fff 5px, transparent 0) 0 5px, linear-gradient(135deg, #fff 5px, #8c8c8c 0) 0 5px;
    background-color: #fff;
    background-position: left bottom;
    background-repeat: repeat-x;
    background-size: 10px 10px;
  }

.btn-effect{
    padding:10px;
    border-radius: 10px;
    background: linear-gradient(to right, rgba(255,214,216,0.64) 0%, rgba(255,209,215,0.64) 13%, rgba(255,189,212,0.93) 67%, rgba(255,189,212,1) 80%);
    color:green;
    transition: 1s;
}

.btn-effect:hover{
    background: linear-gradient(to right, rgba(210,255,82,1) 0%, rgba(145,232,66,0.88) 52%, rgba(145,232,66,0.76) 100%);
    border:1px solid var(--linkColor);
}

.btn-effect:hover a{
    color:#fff;
    transition: 1s;
    transform: rotate3d(1, 1, 1, 90deg);

}

.skills{
    background-color:var(--previewShadow);
    display:flex;
    justify-content: space-evenly;
}

#cover-img{
    width:100%;
    height:330px
}

.social-links{
    text-align:center;
}

.social-links a{
    font-size:30px;
    margin-bottom:15px;
}

.projects-wrapper{
    display:grid;
    grid-template-columns: repeat(auto-fit, 320px);
    gap:20px;
    justify-content: center;
	padding-bottom: 50px;
}


.thumbnail{
    width:100%;
    height:300px;
    object-fit: cover;
    border: 1px solid var(--borderColor);
    border-radius: 10px;
}
.card{
    border:1px solid var(--borderColor);
	-webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
}

.card h4{
    /* text-align:center; */
    color: blue;
    margin:0;
    padding:0;
}

.card p{
    margin-top:0;
}

.card a{
    margin:0px 2px 10px 5px; 
}
.card a:hover{
    background-color:var(--linkColor) ;
    color: var(--mainText)
    border:1.5px solid var(--borderColor);

    border-radius:2px;

}

#contact-form{
	display: block;
	max-width: 600px;
	margin: 0 auto;
	border: 1px solid var(--borderColor);
	padding: 15px;
	border-radius: 5px;
	background-color: var(--mainColor);
	margin-bottom: 50px;

}

#contact-form label{
	line-height: 2.7em;
}

#contact-form textarea{
	min-height: 100px;
	font-size: 14px;
}


.input-field{
	width: 100%;
	padding-top: 10px;
	padding-bottom:10px; 
	background-color: var(--secondaryColor);
	border-radius: 5px;
	border:1px solid var(--borderColor);
	font-size: 14px;
}


#submit-btn{
	margin-top: 10px;
	width: 100%;
	padding-top: 10px;
	padding-bottom:10px; 
	color: #fff;
	background-color: var(--buttonColor);
    border:none;
    border-radius:10px;
}

#submit-btn:hover{
    background-color: var(--mainColor);
    color: var(--borderColor);
     border:1px solid var(--borderColor);
}


@media only screen and (max-width:1200px){
    .main-container{
        width: 95%;
        }

    #profile{
        width:300px;
    }
}


@media only screen and (max-width:800px){
    .intro-wrapper{
        grid-template-columns: 1fr;
        grid-template-areas:
        "nav-wrapper"
        "left-column"
        "right-column"
    }
    .main-container{
        width: 70%;
        }   

}